body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.logo-div {
  flex-grow: 1;
}

.welcome-message {
  line-height: 50px;
  font-size: 20px;
}

.heading-buttons {
  line-height: 50px;
  font-size: 20px;
  margin-left: 30px;
  border: 1px solid #0064d2;
  border-radius: 10px;
  padding: 0 10px;
  color: #0064d2;
  transition: all 150ms ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
}

.heading-buttons:hover {
  background-color: #0064d2;
  color: white;
  text-decoration: none;
}

.heading-buttons:hover .not-a-button {
  color: white;
}

.logo {
  height: 50px;
}

.register {
  font-size: 18px;
  margin-right: 5px;
}

.login {
  margin-right: 5px;
}

.content {
  flex-grow: 1;
}

.hero {
  background-image: url('images/hero.png');
  height: 350px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.hero-title {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 80px;
  line-height: 350px;
  font-weight: 900;
  letter-spacing: 2.5px;
}

.hero-sell {
  color: #0064d2;
}

.hero-buy {
  color: #f5af02;
}

.hero-save {
  color: #86b817;
}

.search {
  width: 885px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}

.search input[type=text] {
  width: 78%;
  border: 2px solid #0064d2;
  border-radius: 10px;
  height: 40px;
  transition: all 150ms ease-in-out;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search input[type=submit] {
  width: 20%;
  border: 2px solid #0064d2;
  background-color: #0064d2;
  color: white;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search input[type=submit]:hover {
  background-color: white;
  color: #0064d2;
}

.main-listings {
  display: flex;
  flex-wrap: wrap;
  width: 885px;
  margin: 30px auto;
  gap: 30px;
}

.main-listing {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.main-listing-info {
  background-color: #86b817;
  height: 75px;
  border-radius: 0 0 10px 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-listing-title {
  display: block;
  color: black;
  font-size: 16px;
  width: 275px;
  color: white;
  text-align: center;
}

.main-listing-location-price {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  margin-left: 5px;
}

.main-listing-price {
  font-size: 14px;
}

.main-listing-location {
  font-size: 14px;
}

.main-listing-title:hover {
  cursor: pointer;
}

.main-listing-photo {
  border-radius: 10px 10px 0 0;
  width: 275px;
  height: 275px;
  object-fit: cover;
}

.listing-container {
  max-width: 70%;
  margin: 0 auto;
}

.listing-title, .listing-price {
  margin-bottom: 0;
}

.listing-photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1260px;
}

.listing-photo {
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.edit-photo-form {
  width: 200px;
  height: 200px;
}

.edit-listing-photos, .form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 17px;
  width: 855px;
  margin: 0 auto;
}

.delete-photo-button {
  position: relative;
  top: -195px;
  left: -8px;
  float: right;
  border: 1px solid black;
  background-color: white;
  border-radius: 50%;
}

.listing-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  text-transform: uppercase;
  width: fit-content;
  margin: 15px 0 20px;
}

.listing-tag {
  border: 1px solid #86b817;
  background-color: #86b817;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  transition: all 150ms ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.listing-tag:hover {
  background-color: white;
  color: #86b817;
  text-decoration: none;
}

.listing-contact-information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.listing-description {
  margin: 20px 0;
}

.listing-heading {
  display: flex;
  justify-content: space-between;
}

.listing-back-button {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 2px solid #0064d2;
  background-color: #0064d2;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  transition: all 150ms ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.listing-back-button:hover {
  color: #0064d2;
  background-color: white;
  text-decoration: none;
}

.footer {
  background-color: #0064d2;
  height: 75px;
  line-height: 75px;
  color: white;
  text-align: center;
}

.sell-button {
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 15px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sell-button:hover {
  color: #0064d2;
  border: 1px solid #0064d2;
  background-color: white;
  text-decoration: none;
}

.new-listing-form {
  display: flex;
  flex-direction: column;
  width: 855px;
  margin: 0 auto 30px;
}

.new-listing-form label {
  display: flex;
  flex-direction: column;
}

.new-listing-form input[type=text], .new-listing-form textarea {
  border: 1px solid lightgray;
  border-radius: 4px;
}

.new-listing-form input[type=submit] {
  border: 1px solid #86b817;
  border-radius: 4px;
  background-color: #86b817;
  color: white;
  transition: all 150ms ease-in-out;
}

.new-listing-form input[type=submit]:hover {
  color: #86b817;
  background-color: white;
}

.upload-photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.form-location, .form-contact {
  display: flex;
  gap: 10px;
}

.form-location label, .form-contact label {
  width: 50%;
}

.error {
  color: red;
  margin-bottom: 0;
}

.flash-message {
  position: fixed;
  font-size: 24px;
  background-color: #86b817;
  width: 400px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: white;
  border-radius: 10px;
  left: 50%;
  margin-left: -200px;
  top: 10px;
  opacity: .9;
}

.next-page {
  margin: 30px auto;
  width: 885px;
}

.not-a-button {
  background-color: transparent;
  border: none;
  color: #0064d2;
  width: 100%;
}

.not-a-button:hover {
  color: white;
}

.user-listings {
  max-width: 855px;
  margin: 0 auto;
}

.user-listing {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.user-listing-title {
  flex-grow: 1;
  font-size: 18px;
  line-height: 48px;
  color: #0064d2;
}

.user-button {
  border: 2px solid #86b817;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: #86b817;
  color: white;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.user-button:hover {
  color: #86b817;
  background-color: white;
  text-decoration: none;
}

.edit-listing-form input[type=text] {
  border: 1px solid red;
}

@media screen and (max-width: 1000px) {
  .hero-title {
    font-size: 65px;
  }

  .hero-sign-up-button {
    font-size: 18px;
  }

  .main-listings, .next-page, .search {
    width: 580px;
  }
}

@media screen and (max-width: 700px) {
  .welcome-message {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .header {
    flex-direction: column;
    gap: 10px;
  }

  .heading-buttons {
    margin-left: 0;
    margin-top: 10px;
  }

  .hero-title {
    display: flex;
    flex-direction: column;
    line-height: 50px;
    gap: 10px;
    padding-top: 80px;
  }
}

@media screen and (max-width: 650px) {
  .hero-title {
    font-size: 50px;
  }

  .hero-sign-up-button {
    font-size: 14px;
  }

  .main-listings, .search {
    width: 275px;
  }

  .next-page {
    width: fit-content;
  }

  .search {
    flex-direction: column;
    gap: 10px;
  }

  .search input[type=text] {
    width: 100%;
  }

  .search input[type=submit] {
    width: 100%;
    height: 40px;
  }
}